body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

#description {
    font-weight: 700;
    line-height: 16px;
}

#edit-ai-models {
    display: inline-flex;
    justify-content: flex-end;
}
#edit-ai-models label {
    cursor: pointer;
    border-bottom: 1px dotted currentColor;
    padding-bottom: 2px;
}

#actions-list {
    position: relative;
    height: 230px;
    margin-top: 32px;
}

#actions-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

#actions-list.with-scrollbar .item{
    padding-right: 11px;
}

#actions-list .item.first {
    padding-top: 0 !important;
}

#actions-list .item.last {
    padding-bottom: 0 !important;
}

#actions-list .item .label {
    display: flex;
    align-items: center;
}

#actions-list .item .label img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#actions-list .ps__rail-y {
    margin: 0 !important;
    right: 0 !important;
}

.select2-container {
    max-height: none !important;
}

.select2-results__group {
    display: flex !important;
    align-items: center;
}
.select2-results__group img {
    margin-right: 4px;
}

.select2-results__option[role=treeitem] {
    display: flex;
    line-height: 16px;
}

.select2-results__option[role=treeitem] .ellipsis-content{
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

/* #actions-list .select2-selection{
    border: none !important;
}

#actions-list .select2-selection__rendered {
    padding: 0 6px;
    text-decoration: underline dotted;
    text-underline-offset: 4px;
}

#actions-list .select2-selection__arrow {
    display: none;
} */

.select2-container--default .select2-results > #select2-ai-model-select-2-results {
    max-height: 160px;
}