.btn-text-default {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    color: #444444;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 22px;
    cursor: pointer;
}

.btn-text-default::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn-text-default.primary {
	color: #fff;
	background-color: #7d858c;
}

.btn-text-default:focus {
    outline: 0;
    outline-offset: 0;
}

.btn-text-default:hover {
    background-color: #d8dadc;
}

.btn-text-default.primary:hover {
	background-color: #666d73 !important;
}

.btn-text-default:active,
.btn-text-default.active {
    background-color: #7d858c !important;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-text-default[disabled]:hover,
.btn-text-default.disabled:hover,
.btn-text-default[disabled]:active,
.btn-text-default[disabled].active,
.btn-text-default.disabled:active,
.btn-text-default.disabled.active {
    background-color: #fff !important;
    color: #444444;
    cursor: default;
}

.btn-text-default[disabled],
.btn-text-default.disabled {
    opacity: 0.65;
}

.form-control {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #444444;
    font-size: 11px;
    height: 22px;
    padding: 1px 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.form-control:focus {
    border-color: #cfcfcf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control[readonly] {
    background-color: #fff;
    cursor: pointer;
}

.form-control[disabled] {
    background-color: #fff;
    cursor: default;
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.defaultlable {
	color: #444444;
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.defaultcenterlable {
	color: #444444;
	cursor: default;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.noselect{
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
bottom: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
height: 10px;
margin: 0 13px 0 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
	right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
	width: 10px;
	margin: 0 0 13px 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 9px;
    background-color: rgb(241, 241, 241);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    visibility: visible;
    display: block;
    box-sizing: border-box;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAQAAAAz1Zf0AAAAIUlEQVR42mNgAILz/0GQAQo+/gdBBqLAqE5ydH5k+sgEANHgUH2JtDRHAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 0 center;
    border: 1px solid #cfcfcf;
}


.ps__rail-x:hover > .ps__thumb-x{
  background-color: rgb(207, 207, 207);
}

.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
   background-color: #adadad;
   border-color: #adadad;  
}



.ps__rail-y:hover > .ps__thumb-y{
  background-color: rgb(207, 207, 207);
}

.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
   background-color: #adadad;
   border-color: #adadad;  
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
