html, body {
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.div_content {
	position: relative;
	margin: 15px 0px 15px 15px;
	padding-right: 15px;
	height: calc(100% - 20px);
	overflow: hidden;
}

.ps__rail-y {
	margin-top: 0px !important;
}

.div_main {
	display: flex;
	flex-flow: column;
}

.mrtop {
    margin-top: 8px;
}

textarea {
	height: 100px !important;
}

textarea::selection {
	background: #D8DADC; /* WebKit/Blink Browsers */
	color: #444444;
}

input::selection {
	background: #D8DADC; /* WebKit/Blink Browsers */
	color: #444444;
}

.div_form {
	display: flex;
	flex-flow: column;
}

.btn_submit {
	flex: 0.8;
	margin-right: 5px;
	height: 30px !important;
}

.btn_clear {
	flex: 0.2;
	margin-left: 5px;
	height: 30px !important;
}

.div_req_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}

.div_parametr {
	display: flex;
	flex-flow: column;
	margin: 10px 0px;
}

.div_param_val {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}

.lbl_param_val {
	margin-left: 10px;
	min-width: 30px;
}

.inp_value {
	max-width: 35px;
}


#footerCont {
	margin: 5px 0px;
}

.div_settings {
	/* flex: 1; */
}

.div_tokens {
	display: flex;
	justify-content: end;
	margin-top: 7px;
}

.div_row {
	margin: 5px;
}

.lb_err {
	color: red;
}

.div_show_settings {
	display: flex;
	width: fit-content;
	cursor: pointer;
}

.div_arrow {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.div_title {
	position: absolute;
    z-index: 1;
    height: fit-content;
    padding: 8px 5px;
    right: 15px;
	left: 0px;
	overflow-wrap: anywhere;
}

.title_model {
	/* top: 215px; */
	top: 205px;
}

.title_topP {
	/* top: 340px; */
	top: 235px;
}

.arrow {
	display: block;
	width: 4px !important;
    height: 4px !important;
    margin: -1px 1px !important;
    border: solid 1px rgba(0, 0, 0, 0.8);
    border-bottom: none !important;
    border-right: none !important;
    background-image: none;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.arrow_down {
    transform: rotate(-135deg) translate(1px,1px);
}

.arrow_up {
	transform: rotate(45deg);
}

.div_modal {
	display: flex;
	flex-flow: column;
	position: absolute;
    top: 142px;
    right: 15px;
	left: 0px;
	height: fit-content;
	z-index: 1;
}

.loader {
	margin: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	background-color: rgba(128, 128, 128, 0.5);
}

.hidden {
	display: none;
}

.error_border {
	border: 1px solid red !important;
}

input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	height: 4px;
	background-color: #ccc;
	border-radius: 5px;
	background-image: linear-gradient(#444, #444);
	background-repeat: no-repeat;
}
  

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #444;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #444;
	border: none;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #444;
	cursor: pointer;
	transition: background .3s ease-in-out;
}

/* input[type="range"]::-webkit-slider-thumb:hover {
	background: #444;
}

input[type="range"]::-moz-range-thumb:hover {
	background: #444;
}

input[type="range"]::-ms-thumb:hover {
	background: #444;
} */

input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

.gen-img-preview {
	width: 100%;
	height: auto;
}

#idx-preview {
	overflow-y: auto;
	margin-top: 10px;
	flex-grow: 1;
}

/* 
input[type=range] {
	width: 100%;
	-webkit-appearance: none;
	margin: 6px 0;
	background-color: transparent !important;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 4px;
	-webkit-appearance: none;
	cursor: pointer;
	background: #ccc;
	border-radius: 8px;
	border: 1px solid #ccc;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 8px;
	background: #444444;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}

input[type=range]::-moz-range-track {
	width: 100%;
	cursor: pointer;
	background: #ccc;
	border: 1px solid #ccc;
	height: 4px;
	border-radius: 8px;
}

input[type="range"]::-moz-range-progress {
	background-color: #444444;
	border: 1px solid #444444;
	border-radius: 8px;
	height: 4px;
}

input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	border: 1px solid #444444;
	border-radius: 8px;
	background: #444444;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
	height: 4px;
}

input[type=range]::-ms-fill-lower {
	height: 4px;
	background: #444444;
	border: 1px solid #444444;
	border-radius: 8px;
}

input[type=range]::-ms-fill-upper {
	height: 4px;
	background: #ccc;
	border: 1px solid #ccc;
	border-radius: 8px;
}

input[type=range]::-ms-thumb {
	height: 12px;
	width: 12px;
	border: 1px solid #444444;
	border-radius: 8px;
	background: #444444;
	cursor: pointer;
} */