html, body {
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.loader {
	margin: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	background-color: rgba(128, 128, 128, 0.5);
}

.form {
	margin: 10px;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

input {
	flex: 1;
}

.info {
	margin: 10px;
}

.err-message {
	color: red;
}

.chat_window {
	display: flex;
	flex-direction: column;
	margin: 5px;
	flex: 1;
}

.messages {
	flex: 1;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.span_message {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 10px;
	width: fit-content;
	height: fit-content;
}

.user_message {
	display: flex;
	justify-content: end;
}

.tokens_info {
	margin: 5px 0;
}

.div_tokens_info {
	text-align: end;
}

.div_title_chat {
	position: absolute;
    z-index: 1;
    height: fit-content;
    padding: 8px 5px;
    right: 5px;
	left: 5px;
	top: 250px;
	overflow-wrap: anywhere;
}