.btn-text-default {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    color: #444444;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 22px;
    cursor: pointer;
}

.btn-text-default::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn-text-default.primary {
	color: #fff;
	background-color: #7d858c;
}

.btn-text-default:focus {
    outline: 0;
    outline-offset: 0;
}

.btn-text-default:hover {
    background-color: #d8dadc;
}

.btn-text-default.primary:hover {
	background-color: #666d73; !important;
}

.btn-text-default:active,
.btn-text-default.active {
    background-color: #7d858c !important;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-text-default[disabled]:hover,
.btn-text-default.disabled:hover,
.btn-text-default[disabled]:active,
.btn-text-default[disabled].active,
.btn-text-default.disabled:active,
.btn-text-default.disabled.active {
    background-color: #fff !important;
    color: #444444;
    cursor: default;
}

.btn-text-default[disabled],
.btn-text-default.disabled {
    opacity: 0.65;
}

.form-control {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #444444;
    font-size: 11px;
    height: 22px;
    padding: 1px 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.form-control:focus {
    border-color: #cfcfcf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control[readonly] {
    background-color: #fff;
    cursor: pointer;
}

.form-control[disabled] {
    background-color: #fff;
    cursor: default;
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.defaultlable {
	color: #444444;
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.defaultcenterlable {
	color: #444444;
	cursor: default;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.noselect{
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}