html, body {
  width: 98%;
  height: 98%;
};
.noselect {
  -khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

div::selection {
  background: #a8d1ff;
}
.button {
  color: #fff;
  background-color: #7d858c;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  outline: none;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 22px;
  cursor: pointer;
}

div::-moz-selection {
  background: #a8d1ff;
}

.result_div {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.replacment {
  margin: 5px 10px 5px 0px;
  white-space: normal!important;
  padding: 3px 8px 4px!important;
  border: none!important;
  box-shadow: 0 2px 4px 0 rgba(2,125,193,.32)!important;
  background-color: #45a8fc!important;
  color: #fff!important;
  transition: background-color .2s!important;
  cursor: pointer;
  border-radius: 5px;
}
.header {
  font-weight: 700;
  margin: 3px;
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: space-between;
}
.caption {
  margin: 5px;
}
.replacments {
  margin-top: 10px;
  display: flex;
  padding: 10px;
  flex-flow: wrap;
}
.btn_close {
  margin-top: -8px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzTDM1LjE3IDEwIDI0IDIxLjE3IDEyLjgzIDEwIDEwIDEyLjgzIDIxLjE3IDI0IDEwIDM1LjE3IDEyLjgzIDM4IDI0IDI2LjgzIDM1LjE3IDM4IDM4IDM1LjE3IDI2LjgzIDI0eiIvPjxwYXRoIGQ9Ik0wIDBoNDh2NDhIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=) 50% no-repeat!important;
  width: 34px!important;
  height: 34px!important;
  background-size: 16px 16px!important;
  box-sizing: initial!important;
  color: #000!important;
  cursor: pointer!important;
  display: block!important;
}