body .avpw .avpw_primary_button,
body .avpw .avpw_primary_button:link,
body .avpw .avpw_primary_button:visited,
body .avpw .avpw_primary_button:active {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  color: #444444;
}
body .avpw .avpw_primary_button:active {
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  color: #444444;
}
/* 'locked'/down state */
.avpw .avpw_inset_button .avpw_lock_icon_top_inner,
.avpw .avpw_inset_button .avpw_lock_icon_sep {
  background: #FFFFFF;
}